body, main {
    margin: 0;
    padding: 0;
    height: 150%;
    width: 100%;
}



.bulletin-board {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    background-image: url('../assets/josephine-bredehoft-KsAo8ouBn8A-unsplash.jpg');
    background-size: 100vw;
    width: 90%;
    height: 100%;
    margin: 30px;
    /* box-shadow: 5px 10px #888888; */
}

.p {
    width: 25vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: bisque;
    align-items: center;
    }

.location {
    text-align: center;
}

.img img {
    width: 25vw;
    object-fit: cover;
}

.description { 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
